@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: Source Sans Pro;
  src: url('./Source_Sans_Pro/SourceSansPro-Regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: Source Sans Pro;
  src: url('./Source_Sans_Pro/SourceSansPro-Bold.ttf');
  font-weight: bold;
} */

@font-face {
  font-family: Source Serif Pro;
  src: url('./Source_Serif_Pro/SourceSerif4-Regular.ttf');
}

main ul li {
    @apply mb-5;
}

main ul a {
    @apply no-underline hover:underline text-blue-500;
}

p {
    @apply font-serif;
}

main ul img {
    @apply shadow-md;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}