<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/assets/common/css/github-markdown.css">
  <style>
    /* https://github.com/sindresorhus/github-markdown-css */
    .markdown-body {
      box-sizing: border-box;
      min-width: 200px;
      max-width: 980px;
      margin: 0 auto;
      padding: 45px;
    }

    @media (max-width: 767px) {
      .markdown-body {
        padding: 15px;
      }
    }
  </style>
  $for(css)$
  <link rel="stylesheet" href="$css$" />
  $endfor$
  $for(header-includes)$
  $header-includes$
  $endfor$
  $if(math)$
  $if(mathjax)$
  <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
  $endif$
  $math$
  $endif$
</head>

<body>
  <main class="markdown-body">
    $body$
  </main>
</body>

</html>
