---
import '../styles/global.css';

interface Props {
  title: string;
  description?: string;
}

const { title, description = "Andrea Cognolato's blog and personal website." } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>{title}</title>
  <meta name="theme-color" content="#322F7C" />
  <link rel="manifest" href="/manifest.json" />
  <meta name="Description" content={description} />
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
  <link rel="apple-touch-icon" href="/apple-touch-icon.png" />

  <!-- Google Analytics GA4 -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-FBTQYT7Z06"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'G-FBTQYT7Z06');
  </script>

  <slot name="head" />
</head>
<body class="bg-white dark:bg-gray-900 text-gray-900 dark:text-white">
  <slot />
</body>
</html>
